
<style>
  .rounded-input {
    border-radius: 10px;
    padding: 10px;
    border-color: #000000;
    margin-bottom: 20px;
  }

  .btn-custom {
    color: #000000;
    width: 180px;
    background-color: #6c757d;
    border-color: #6c757d;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="text-center">
        <h2 style="font-weight: bold;">Crie sua conta</h2>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name, required: true, autofocus: true, input_html: { autocomplete: "name", class: "rounded-input" }, label: false, placeholder: "Nome Completo *" %>

          <%= f.input :date_of_birth, required: true, as: :string, input_html: { autocomplete: "off", class: "rounded-input", placeholder: "Data de Nascimento (dd/mm/aaaa) *" }, label: false %>

          <%= f.input :email, required: true, input_html: { autocomplete: "email", class: "rounded-input" }, label: false, placeholder: "E-mail *" %>
          <%= f.input :password, required: true, hint: ("Mínimo de #{@minimum_password_length} caracteres. Utilize letras, números e símbolos."), input_html: { autocomplete: "new-password", class: "rounded-input" }, label: false, placeholder: "Senha *" %>
          <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password", class: "rounded-input" }, label: false, placeholder: "Confirmação de Senha *" %>
            <p>* Campos obrigatórios</p>
          <%= f.input :agree_terms, as: :boolean, label: "Eu li e concordo com os termos de privacidade" %>
          <%= f.input :agree_terms, as: :boolean, label: "Deseja receber atualizacoes por email?" %>
        </div>
  <div class="text-center">
  <%= f.button :submit, "Cadastrar", class: "btn btn-lg rounded-input btn-custom btn-light-gray btn-bold" %>
</div>



</div>
 </div>
</div>
</div>
      <% end %>
    </div>
  </div>
</div>
<style>
.btn-light-gray {
  background-color: #dddddd; /* Altere o valor para o cinza desejado */
  color: #333333; /* Altere o valor para a cor desejada */
}

.btn-bold {
  font-weight: bold;
}
